{
  "presets": [["env", { "modules": false }], "react"],
  "env": {
    "test": {
      "presets": [["env"], "react"]
    }
  },
  "plugins": [
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-es2015-destructuring",
    "transform-class-properties"
  ]
}
